header{
    background-color: rgb(0,255,95);
    height: 80px;
    justify-content: center;
    align-items: center;
}

nav{
    height: 20px;
    background-color: rgb(0,182,91);
    margin: 15px;
    color:white
}
.center{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
    height: 600px;
}

.aside1{
    background-color: rgb(254,151,41);
    margin-right: 10px;
}

.aside2{
    background-color: rgb(254,151,41);
    margin-left: 10px;
}

main{
    background-color: rgb(255,69,73);

}

article{
    background-color: white;
    height: 100px;
    margin: 10px;
}

footer{
    background-color: rgb(201,84,222);
    height: 300px;
}